.detail__container {
  max-width: 980px;
  margin: 0 auto;
}

.detail__inner {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 64px;
}
