.header__container {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.header__wrapper {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
}

.header__inner {
  width: 92%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a img {
  width: 110px;
  height: 60px;
  background-color: red;
}

.header__btn {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  padding: 0 8px;
}

.nav__item a {
  padding: 12px 10px;
  font-size: 15px;
  line-height: 20px;
  color: gray;
  text-decoration: none;
}

.nav__item a:hover {
  background-color: rgba(2, 32, 71, 0.05);
  border-radius: 15px;
}

.nav__item button {
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: 7px 12px;
  background-color: #3182f6;
  color: white;
  line-height: 18px;
}

@media screen and (max-width: 675px) {
  .header__container {
    height: 100%;
  }

  .header__inner {
    flex-direction: column;
    align-items: start;
  }

  .header__logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__btn {
    display: block;
  }

  .opend__nav {
    width: 100%;
    display: block;
  }

  .closed__nav {
    display: none;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    width: 100%;
    padding: 20px 0;
  }

  .nav__item button {
    width: 100%;
  }
}
